:root {
    --main: #0B1D26;
    --secondary: #FDD130;
    --light: #FFFFFF;
    --font-xsm: 14px;
    --font-sm: 18px;
    --font-md: 24px;
    --font-lg: 48px;
    --font-xl: 64px;
    --font-xxl: 88px;
    --direction: column;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    background-color: var(--main);
}

/* General */

header, footer {
    /* padding: 56px 80px; */
}

nav ul {
    margin: 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--main);
}

.banner-bg {
    background-image: url("../images/main-background.png");
    background-size: cover;
    position: absolute;
    top: 0;
    height: 200vh;
    width: 100%;
    z-index: -1;
}

/* Header */

header {
    display: flex;
    flex-direction: var(--direction);
    justify-content: space-between;
}

header a.logo {
    align-self: center;
}

header a.logo img {
    height: 100%;
}

header nav ul {
    --direction: row;
    padding: 0;
    display: flex;
    flex-direction: var(--direction);
    justify-content: center;
}

header nav ul li a {
    margin: 0 8px;
    font-size: var(--font-xsm);
    font-weight: 700;
}


/* Main banner */

main aside.float-nav {
    position: absolute;
    right: 80px;
    top: 200px;
}

main aside.float-nav nav ul li {
    padding: 20px;
}

main aside.float-nav nav ul li a {
    padding: 20px;
    font-size: var(--font-sm);
    font-weight: 700;
}

main section {
    /* padding: 56px 130px; */
}

main section.main-banner {
    display: flex;
    justify-content: space-between;
}

main section.main-banner .rrss {
    position: absolute;
    left: 80px;
    top: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

main section.main-banner .rrss i {
    margin: 10px 0;
    font-size: var(--font-md);
}

main section.main-banner p {
    font-size: var(--font-md);
    font-weight: 500;
    line-height: 36px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}


/* Section */

main section.content {
    background-color: var(--main);
    color: var(--light);
    display: flex;
    flex-direction: var(--direction);
    max-height: 600px;
}

main section.content .text {
    width: 80%;
    /* padding: 0 80px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section.content .text h2 {
    font-size: var(--font-lg);
    font-weight: 600;
    text-transform: uppercase;
    margin: 24px 0;
}

main section.content .text p {
    font-size: var(--font-sm);
    font-weight: 400;
    margin: 24px 0;
}

main section.content .text a {
    color: var(--secondary);
    font-size: var(--font-sm);
    font-weight: 700;
    text-decoration: none;
}

main section.content img {
    object-fit: contain;
    object-position: right;
}

main section.content:nth-child(2n) img {
    object-position: left;
}

main section.gradient {
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}


/* Footer */

footer {
    background-color: var(--main);
    color: var(--light);
    /* padding: 56px 220px; */
    display: flex;
    flex-direction: var(--direction);
    justify-content: space-between;
}

footer .column-group {
    display: flex;
    flex-direction: var(--direction);
}

footer .column-group .column {
    margin: 0 72px;
}

footer .column-group .column img{
    margin-top: 12px;
}

footer .column-group .column h3 {
    text-transform: uppercase;
    font-size: var(--font-md);
    font-weight: 700;
    color: var(--secondary);
}

footer .column-group .column nav ul li {
    font-size: var(--font-sm);
    font-weight: 500;
    margin: 12px 0;
}

@media screen and (min-width: 768px) {
    body {
        --direction: row;
    }

    header {
        padding: 56px 80px;
        height: 40px;
    }

    header nav ul li a {
        margin: 0 24px;
    }

    header nav ul li a {
        margin: 0 24px;
        font-size: var(--font-sm);
    }

    footer {
        padding: 56px 220px;
    }

    main section {
        padding: 56px 130px;
    }

    main section.main-banner p {
        font-size: var(--font-xl);
        line-height: 100px;
    }
}

@media screen and (min-width: 1600px) {

    main section {
        padding: 56px 220px;
    }
    
    main section.main-banner p {
        font-size: var(--font-xxl);
        width: 60%
    }

    main section.content {
        max-height: 720px;
    }

    main section.content .text {
        padding: 0 114px;
    }

    main section.content .text h2 {
        font-size: var(--font-xl);
    }
}